{"openapi":"3.1.0","info":{"title":"Zefix PublicREST API","description":"Access to the swiss central business name index","contact":{"name":"Federal Registry of Commerce (FRC)","url":"https://www.zefix.admin.ch/"},"license":{"name":"OGD Open use. Must provide the source.","url":"https://opendata.swiss/en/terms-of-use#terms_by"},"version":"2.6.1.2"},"servers":[{"url":"https://www.zefix.admin.ch/ZefixPublicREST","description":"Generated server url"}],"security":[{"Zefix-Credentials":[]}],"paths":{"/api/v1/company/search":{"post":{"tags":["Company"],"description":"Search for companies registered in the commercial register by different parameters","operationId":"search","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanySearchQuery"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyShort"}}}}}}}},"/api/v1/sogc/{id}":{"get":{"tags":["SOGC"],"description":"Search publication in the SOGC by publication number (SOGC-ID)","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SogcPublicationAndCompanyShort"}}}}}}},"/api/v1/sogc/bydate/{date}":{"get":{"tags":["SOGC"],"description":"Search publications in the SOGC by publication date","operationId":"byDate","parameters":[{"name":"date","in":"path","required":true,"schema":{"type":"string","format":"date","example":"2020-01-10"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SogcPublicationAndCompanyShort"}}}}}}}},"/api/v1/registryOfCommerce":{"get":{"tags":["RegistryOfCommerce"],"description":"Get a list of the cantonal registries of commerce","operationId":"list","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegistryOfCommerce"}}}}}}}},"/api/v1/registryOfCommerce/byBfsCommunityId/{id}":{"get":{"tags":["RegistryOfCommerce"],"description":"Get the cantonal registry of commerce by the bfsId of a BfsCommunity","operationId":"byBfsCommunityId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","description":"bfsId of the BfsCommunity","example":623}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryOfCommerce"}}}}}}},"/api/v1/legalForm":{"get":{"tags":["LegalForm"],"description":"Get a list of all legal forms and their codes","operationId":"list_1","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LegalForm"}}}}}}}},"/api/v1/company/uid/{id}":{"get":{"tags":["Company"],"description":"Get detailed company info by UID","operationId":"showUID","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"CHE107721785"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyFull"}}}}}}}},"/api/v1/company/ehraid/{id}":{"get":{"tags":["Company"],"description":"Get detailed company info by EHRA-ID (Internal company unique ID used by federal registry of commerce)","operationId":"showEhraid","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"},"example":348639}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyFull"}}}}}}},"/api/v1/company/chid/{id}":{"get":{"tags":["Company"],"description":"Get detailed company info by CH-Number (This number is no longer used in public)","operationId":"showCHID","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"example":"CH40030163378"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyFull"}}}}}}}},"/api/v1/community":{"get":{"tags":["Community"],"description":"Get a list of the political communes and their number according to the swiss official commune register","operationId":"list_2","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RestApiErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BfsCommunity"}}}}}}}}},"components":{"schemas":{"ErrorDetails":{"type":"object","properties":{"type":{"type":"string","description":"Type of error","enum":["INTERNAL_SERVER_ERROR","INVALID_QUERY_WORDS","INVALID_REQUEST_DATA","RESULTLIST_TO_LARGE","NOT_FOUND"]},"message":{"type":"string","description":"Details about the error"}}},"RestApiErrorResponse":{"type":"object","description":"Generic error response","properties":{"error":{"$ref":"#/components/schemas/ErrorDetails"}}},"CompanySearchQuery":{"type":"object","description":"Search Query","properties":{"name":{"type":"string","example":"Qube AG","minLength":3,"title":"Name of the company: begin of the company name, * can be used as wildcard, the search behaves like the exact search in the Zefix webapplication"},"legalFormId":{"type":"integer","format":"int64","description":"If a legal form ID is provided, only companies matching the given legal form are returned. The LegalForm endpoint provides the allowed values.","example":9,"maximum":999,"minimum":1,"title":"Internal legal form ID used by the commercial register"},"legalFormUid":{"type":"string","description":"If a legal form UID is provided, only companies matching the given legal form are returned. The LegalForm endpoint provides the allowed values.","example":"0151","maxLength":4,"minLength":4,"title":"Public legal form code according to the data standard eCH-0097"},"registryOfCommerceId":{"type":"integer","format":"int64","description":"If a registryofcommerceID is given, only companies which have their seat in this registry district are returned. The RegistryOfCommerce endpoint provides all allowed values. Not allowed together with legalSeatId or canton","example":36,"title":"Internal office number of the cantonal registry of commerce"},"legalSeatId":{"type":"integer","format":"int64","description":"If a legal seat ID is given only companies with seat in the given political commune are returned. The Community endpoint provides all allowed values. Not allowed together with registryOfCommerceId or canton","example":623,"title":"Number of the political commune according to the swiss official commune register"},"canton":{"type":"string","description":"Not allowed together with registryOfCommerceId or legalSeatId","example":"BE","title":"Canton"},"activeOnly":{"type":"boolean","title":"only active companies?"}},"required":["name"]},"CompanyShort":{"type":"object","description":"Basic company information","properties":{"name":{"type":"string","description":"primary business name of the company"},"ehraid":{"type":"integer","format":"int64","description":"Internal company unique ID used by federal registry of commerce"},"uid":{"type":"string","description":"UID number, CHE..."},"chid":{"type":"string","description":"CH-ID (old CH-number with 13 digits, which is no longer used in public)"},"legalSeatId":{"type":"integer","format":"int64","description":"Legal seat ID (commune number according to the swiss official commune register)"},"legalSeat":{"type":"string","description":"Legal seat name (name of the political commune)"},"registryOfCommerceId":{"type":"integer","format":"int64","description":"Internal office number of the cantonal registry of commerce"},"legalForm":{"$ref":"#/components/schemas/LegalForm","description":"legal form"},"status":{"type":"string","description":"Current company status (active, in liquidation, deleted)","enum":["ACTIVE","CANCELLED","BEING_CANCELLED"]},"sogcDate":{"type":"string","format":"date","description":"Date of the last publication in the SOGC"},"deletionDate":{"type":"string","format":"date","description":"Date of deletion of the legal unit"}}},"DFIEString":{"type":"object","description":"translated text","properties":{"de":{"type":"string","description":"german translation"},"fr":{"type":"string","description":"french translation"},"it":{"type":"string","description":"italian translation"},"en":{"type":"string","description":"english translation"}}},"LegalForm":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Internal legal form ID used by the commercial register"},"uid":{"type":"string","description":"Public legal form code according to the data standard eCH-0097"},"name":{"$ref":"#/components/schemas/DFIEString","description":"full name"},"shortName":{"$ref":"#/components/schemas/DFIEString","description":"abbreviation"}}},"MutationType":{"type":"object","description":"internal type of SOGC mutation","properties":{"id":{"type":"integer","format":"int32"},"key":{"type":"string"}}},"SogcPublication":{"type":"object","description":"Commercial register publication in the SOGC","properties":{"sogcDate":{"type":"string","format":"date","description":"Publication date of the SOGC"},"sogcId":{"type":"integer","format":"int64","description":"Publication number of the particular publication in the SOGC(SOGC-ID)"},"registryOfCommerceId":{"type":"integer","format":"int64","description":"Internal office number of the publishing cantonal registry of commerce"},"registryOfCommerceCanton":{"type":"string","description":"Canton of the publishing registry of commerce"},"registryOfCommerceJournalId":{"type":"integer","format":"int64","description":"Number of the daily register (of the publishing register of commerce)"},"registryOfCommerceJournalDate":{"type":"string","format":"date","description":"date of the daily register (of the publishing register of commerce)"},"message":{"type":"string","description":"Formatted text of the publication"},"mutationTypes":{"type":"array","description":"mutation types","items":{"$ref":"#/components/schemas/MutationType"}}}},"SogcPublicationAndCompanyShort":{"type":"object","properties":{"sogcPublication":{"$ref":"#/components/schemas/SogcPublication"},"companyShort":{"$ref":"#/components/schemas/CompanyShort"}}},"RegistryOfCommerce":{"type":"object","description":"Complete information about a cantonal registry of commerce","properties":{"registryOfCommerceId":{"type":"integer","format":"int64","description":"Internal office number of the cantonal registry of commerce"},"canton":{"type":"string","description":"2 character abbreviation of the canton"},"address1":{"type":"string","description":"Name of the cantonal registry of commerce"},"address2":{"type":"string","description":"Street and housenumber"},"address3":{"type":"string","description":"Post office box"},"address4":{"type":"string","description":"Swiss zip code and locality"},"homepage":{"type":"string","description":"Official homepage of the cantonal registry of commerce"},"url2":{"type":"string","description":"URL structure for displaying the excerpts from the cantonal commercial register of active companies (the UID # has to be structured as CHE-NNN.NNN.NNN)"},"url3":{"type":"string","description":"contact email of the registry of commerce"},"url4":{"type":"string","description":"URL structure for displaying the excerpts from the cantonal commercial register of deleted companies (the UID # has to be structured as CHE-NNN.NNN.NNN and the shabdatum (Publication date of the deletion in the SOGC) as YYYYMMDD)"},"url5":{"type":"string","description":" currently not in use"}}},"Address":{"type":"object","properties":{"organisation":{"type":"string","description":"organisation name"},"careOf":{"type":"string","description":"care of"},"street":{"type":"string","description":"street"},"houseNumber":{"type":"string","description":"house number"},"addon":{"type":"string","description":"address addon"},"poBox":{"type":"string","description":"PO box"},"city":{"type":"string","description":"city"},"swissZipCode":{"type":"string","description":"zip code"}}},"CompanyFull":{"type":"object","description":"extended version of CompanyShort","properties":{"name":{"type":"string","description":"primary business name of the company"},"ehraid":{"type":"integer","format":"int64","description":"Internal company unique ID used by federal registry of commerce"},"uid":{"type":"string","description":"UID number, CHE..."},"chid":{"type":"string","description":"CH-ID (old CH-number with 13 digits, which is no longer used in public)"},"legalSeatId":{"type":"integer","format":"int64","description":"Legal seat ID (commune number according to the swiss official commune register)"},"legalSeat":{"type":"string","description":"Legal seat name (name of the political commune)"},"registryOfCommerceId":{"type":"integer","format":"int64","description":"Internal office number of the cantonal registry of commerce"},"legalForm":{"$ref":"#/components/schemas/LegalForm","description":"legal form"},"status":{"type":"string","description":"Current company status (active, in liquidation, deleted)","enum":["ACTIVE","CANCELLED","BEING_CANCELLED"]},"sogcDate":{"type":"string","format":"date","description":"Date of the last publication in the SOGC"},"deletionDate":{"type":"string","format":"date","description":"Date of deletion of the legal unit"},"translation":{"type":"array","description":"company name translations","items":{"type":"string"}},"purpose":{"type":"string","description":"purpose"},"sogcPub":{"type":"array","description":"SOGC published publications regarding the registry of commerce","items":{"$ref":"#/components/schemas/SogcPublication"}},"address":{"$ref":"#/components/schemas/Address","description":"address"},"canton":{"type":"string","description":"2 character abbreviation of the canton"},"capitalNominal":{"type":"string","description":"nominal capital (only available for corporations)"},"capitalCurrency":{"type":"string","description":"currency of the nominal capital"},"headOffices":{"type":"array","description":"head offices","items":{"$ref":"#/components/schemas/CompanyShort"}},"furtherHeadOffices":{"type":"array","description":"further head offices","items":{"$ref":"#/components/schemas/CompanyShort"}},"branchOffices":{"type":"array","description":"branch offices","items":{"$ref":"#/components/schemas/CompanyShort"}},"hasTakenOver":{"type":"array","description":"has taken over","items":{"$ref":"#/components/schemas/CompanyShort"}},"wasTakenOverBy":{"type":"array","description":"was taken over by","items":{"$ref":"#/components/schemas/CompanyShort"}},"auditCompanies":{"type":"array","description":"audit companies","items":{"$ref":"#/components/schemas/CompanyShort"}},"oldNames":{"type":"array","description":"Previous names of the company","items":{"$ref":"#/components/schemas/CompanyOldName"}},"cantonalExcerptWeb":{"type":"string","description":"Link to the excerpt of the cantonal commercial register (URL), based on RegistryOfCommerce url2/url4"},"zefixDetailWeb":{"$ref":"#/components/schemas/DFIEString","description":"Link to the detail view in Zefix (URL)"}}},"CompanyOldName":{"type":"object","description":"Previous names of the company","properties":{"name":{"type":"string","description":"primary name"},"sequenceNr":{"type":"integer","format":"int64","description":"The sequence number provides a hint about the age of the entry. A bigger number is older"},"translation":{"type":"array","description":"translations","items":{"type":"string"}}}},"BfsCommunity":{"type":"object","properties":{"bfsId":{"type":"integer","format":"int64","description":"Number of commune according to the swiss official commune register","example":623},"canton":{"type":"string","description":"Canton","example":"BE"},"name":{"type":"string","description":"name of the political commune","example":"Rubigen"},"registryOfCommerceId":{"type":"integer","format":"int64","description":"Internal office number of the cantonal registry of commerce","example":36}}}},"securitySchemes":{"Zefix-Credentials":{"type":"http","scheme":"basic"}}}}